QPushButton
{
    /*background: url(/new/images/contacts.png) ;*/
    background-color: rgb(53, 53, 53);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: beige;
    color:white;
    font-size:16px;
}

QTextBrowser
{
    background-color: rgba(53, 53, 53, 0.67);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: beige;
    color:white;
    font-size:16px;
}
QMenu
{
    background-color: rgb(74, 74, 74);
    color:white;
    border-style: outset;
    border-width: 1px;
    border-color: beige;
}
QLabel
{
    color:white;
}
QComboBox
{
    background-color:rgb(74, 74, 74);
    color:white;
}
QComboBox option
{
    background-color:rgb(74, 74, 74);
}
QMainWindow
{
    background-image: url(:/new/images/darkbckgnd.jpg);
    background-position: center;
}
