*
{
    font-family: "Comic Sans MS";
}
QPushButton
{
    background-color: rgb(53, 53, 53);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: beige;
    color:white;
    font-size:16px;
    vertical-align:middle;
}
QPushButton#rate1
{
    border-radius: 20px;
}
QPushButton#rate2
{
    border-radius: 20px;
}
QPushButton#rate3
{
    border-radius: 20px;
}
QPushButton#rate4
{
    border-radius: 20px;
}
QPushButton#rate5
{
    border-radius: 20px;
}

QFrame#frameManual
{
    background-color: rgba(53, 53, 53, 0.67);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: beige;
    color:white;
}
QTextBrowser
{
    background-color: rgba(53, 53, 53, 0.67);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: beige;
    color:white;
    font-size:16px;
}
QTextEdit
{
    background-color: rgba(53, 53, 53, 0.67);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: beige;
    color:white;
    font-size:16px;
}
QLineEdit
{
    background-color: rgba(53, 53, 53, 0.67);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: beige;
    color:white;
    font-size:16px;
}
QMenu
{
    background-color: rgb(74, 74, 74);
    color:white;
    border-style: outset;
    border-width: 1px;
    border-color: beige;
}
QMenuaBar
{
    background-color: rgb(53, 53, 53);
}
QLabel
{
    color:white;
}
QComboBox
{
    background-color:rgb(74, 74, 74);
    color:white;
    border-radius: 8px;
}
QComboBox option
{
    background-color:rgb(74, 74, 74);
    color:white;
    border-radius: 8px;
}
QMainWindow
{
    background-image: url(:/new/images/darkbckgnd.jpg);
    background-position: center;
}
QRadioButton
{
    color:white;
}
