*
{
    font-family: "Comic Sans MS";
}
QPushButton
{
   /* background-color: rgb(252, 252, 252);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: black;
    color:black;
    font-size:16px;*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(181, 181, 181);
   /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/
            border-radius: 12px;
        color: #212121;

    }

   /* QPushButton:hover, QPushButton:focus
    {
       border-color: rgba(82, 168, 236, 0.8);
       /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);*/
      /* outline: 0 none;
    }*/

QLineEdit
{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(181, 181, 181);
    border-radius: 12px;
    color: #555555;
}
QTextEdit
{
    /*background-color: rgba(255, 255, 255, 0.6);
    border-style: outset;
    border-width: 1.5px;
    border-radius: 12px;
    border-color: rgb(7,7,7);
    color:black;
    font-size:16px;*/

background-color: rgb(255, 255, 255);
border: 1px solid rgb(181, 181, 181);
border-radius: 12px;
color: #555555;


}
QMenu
{
    background-color: rgb(252, 252, 252);
    color:black;
    border-style: outset;
    border-width: 1px;
    border-color: black;
}
QLabel
{

    color:black;
}
QComboBox
{
    background-color:rgb(252, 252, 252);
    color:black;
}
QComboBox option
{
    background-color:rgb(252, 252, 252);
}
QMainWindow
{
    background-image: url(:/new/images/mainbckgnd.jpg);
    background-position: center;
}

